@model TVShowGenreViewModel
@{ViewBag.Title = Model.Genre.Title;
ViewBag.showTitle = false;}

<div class="watched-container">
<div id="fanartheader" class="carousel slide hidden-phone">
  <div class="carousel-inner">
      <div class="active item">
        <img src='@Url.ContentLink("Images/default/fanart.png")' data-original='@Url.Action("GenreFanart", "TVShowsLibrary", new { genre = Model.Genre.Title, width = 1170 })' width="100%" height="100%" />
      </div>
  </div>
  <div class="carousel-caption">
	<h1>@Model.Genre.Title</h1>
  </div>
</div>
<div class="page-header visible-phone" ><h1>@(ViewBag.Title != null ? ViewBag.Title : UIStrings.Genre)</h1></div>

<div class="row-fluid">
	<div class="span8">
		<ul class="breadcrumb">
            <li><a href='@Url.Action("Index", "TVShowsLibrary", new { })'>@UIStrings.TVShows</a> <span class="divider">/</span></li>
            <li><a href='@Url.Action("Genres", "TVShowsLibrary", new { })'>@UIStrings.Genres</a> <span class="divider">/</span></li>
			<li class="active">@Model.Genre.Title</li>
		</ul>

		<ul class="list posters covers clearfix">
		@foreach (var tvshow in Model.TVShows)
		{
		<li>
          <a href='@Url.Action("Seasons", "TVShowsLibrary", new { show = tvshow.Id })'>
          <div class="watched-container">
			<img class="lazy" width="214" src='@Url.ContentLink("Images/default/tvshow-poster.png")' data-original='@Url.Action("SeriesPoster", new { show = @tvshow.Id, width = 214 })' alt="@tvshow.Title" />
            @{/*
            @if (tvshow.Watched)
            {
              <img class="watch" src='~/content/images/watched.png' alt="Watched" />
            }
            */}
          </div>
        <h4>@tvshow.Title</h4>
        <p>@tvshow.Runtime min.	@string.Join(", ", tvshow.Genres)</p>
      </a>
		</li>
		}
		</ul>
		
	</div>
	

  <div class="span4">
    <div class="span12 row center">
      <img class="img-polaroid img-rounded" src='@Url.Action("GenreCover", "TVShowsLibrary", new { genre = Model.Genre.Title, width = 250 })' width="250" alt="@Model.Genre.Title" />
    </div>

    <div class="span12 row center">
      <h4>@Model.Genre.Title</h4>
    </div>
  </div>
</div>