@model IEnumerable<TVEpisodeViewModel>
@{ViewBag.showTitle = false;}

@if (ViewBag.Availability.TVShows && Model.Count() > 0)
{
<h2>@Html.ActionLink(UIStrings.LatestEpisodes, "AiredEpisodes", "Home", new { count = 50 }, new { })</h2>

<ul class="list covers thumbs large">
@foreach (var episode in Model)
{
	<li>
      <a href='@Url.Action("Details", "TVShowsLibrary", new { episode = episode.Id }, null)'> 
        <div class="watched-container">
          <img class="lazy" width="214" height="120" src='@Url.ContentLink("Images/default/tvepisode-banner.png")' data-original='@Url.Action("EpisodeImage", "TVShowsLibrary", new { episode = episode.Id, width = 214 })' alt="@episode.Episode.Title" />
	      @if(episode.Episode.Watched)
          {
            <img class="watch" src='~/content/images/watched.png' alt="Watched" />
          }
	    </div>
        <h4>@(episode.Episode.SeasonNumber)x@(episode.Episode.EpisodeNumber) - @episode.Episode.Title</h4>
        <p>@episode.Show.Title</p>
      </a>
	</li>
}
</ul>
}